 body {
     background-image: url('Image4.jpg');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     font-family: Arial, sans-serif;
     color: #fff;

 }

 h1 {
     text-align: center;
     margin-top: 35px;
 }

 h2 {
     text-align: center;
     margin-top: 40px;
 }

 .icon{
    display: flex;
    justify-content: center;
    margin: auto;
 }

 form {
     text-align: center;
     margin-top: 40px;
 }

 




 #city {
     font-size: 15px;
 }